
<nav class="navbar bg-dark navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
    <a href="" class="navbar-brand d-flex align-items-center">Widlife</a>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#menuNavbar"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuNavbar">
    <div class="navbar-nav ms-auto">
    <a href="#" class="nav-link">Wildlife-photography</a>
    <a href="#" class="nav-link">Page 1</a>
    <a href="#" class="nav-link">Page 2</a>
    </div>
    </div>
    </div>
    </nav>
    




<router-outlet><router-outlet />

